
<!-- This is an example use of a button -->
 <!-- The styling is managed in the global.css with tailwind -->
  <!-- You can also use this styling for <button> elements for forms -->

  <!-- Most of the time you need to enclose the button in a div, so it follows the text-center property -->
<div>
  <!-- A button can be defaultbutton / darkbutton / accentbutton -->
	<a href="/contact" class="button darkbutton w-fit">Book Your Session</a>
</div>