---
import { type CollectionEntry, getCollection } from "astro:content"
import BasicMarkdown from "@/layouts/BasicMarkdown.astro"
import formatDate from "@/utils/formatDate"
import DefaultPadding from "@/layouts/DefaultPadding.astro"

export async function getStaticPaths() {
	const posts = await getCollection("posts")

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post }
	}))
}

type Props = {
	post: CollectionEntry<"posts">
}

const { post } = Astro.props
const { Content } = await post.render()
---

<BasicMarkdown title={post.data.title}>
	<DefaultPadding>
		<main>
			<header role="presentation">
				<h1>
					{post.data.title}
				</h1>
				<p class="text-ri relative bottom-4 text-sm">{formatDate(post.data.publishedAt)}</p>
				<i>{post.data.description}</i>
			</header>

			<Content />
		</main>
	</DefaultPadding>
</BasicMarkdown>
