---
// optional frontmatter flags you can read from layout later
title: "Secret page"
---
<head>
  <meta name="robots" content="noindex">
</head>

<h1>Secret</h1>
<p>This page is only for people who know the link - meaning does not show up in sitemap</p>