---
// Your header should be concise and include a clear CTA, along with an image that showcases your product or someone enjoying it.
import { Image } from 'astro:assets';
import HeroImage from './images/hero.webp'
---

<div class="mx-auto pb-16">
	<div class="relative">
		<div class="absolute flex w-full h-full">
			<div class="flex flex-col items-center justify-center h-full w-full">
				<h1 class="text-3xl lg:text-5xl text-center text-white text-shadow-md">Profi fotók, amiken végre azt látod: <br /> Ez vagyok én</h1>
				<!-- <p class="mt-3 dark:text-gray-400">Are you ready to capture your true self?</p> -->

				<div class="mt-6 py-2">
					<a href="/contact" class="button darkbutton">Foglalj időpontot</a>
				</div>
			</div>
		</div>

		<div class="mt-6 flex w-full items-center justify-center lg:mt-0">
			<Image class="h-svh w-full object-cover" src={HeroImage} alt="Confident person portrait" />
		</div>
	</div>
</div>
