<!-- Your stakes section should depict what life will look like if your clients don't buy your product, and what negative experiences your product will help them avoid. -->

<div>
    <h2> Ne félj a kamerától </h2>
    <p> A kamera a barátod. Segít megismerni magadat, szembenézni, hogy vagy, hogy érzed magad. Egy tükör. Ahhoz, hogy jól nézz ki a képeken, jól kell érezd magad a kamera előtt ülve. Ebben tudok neked segíteni.</p>
    <p> Ha nem mered bevállalni magad saját magadnak a kamera előtt, miként fogod ezt mások előtt megtenni?</p>
</div>