---
import Card from "@/components/Landing_page/card.astro"
---
<!-- Your stakes section should depict what life will look like if your clients don't buy your product, and what negative experiences your product will help them avoid. -->


<Card img_src="/images/landing_page/landingpage-1.jpg" card_order="right" card_style="fill" img_alt="Fear image">
    <h2 class="text-current"> Ne félj a kamerától </h2>
    <p> A kamera a barátod. Segít megismerni magadat, szembenézni, hogy vagy, hogy érzed magad. Egy tükör. Ahhoz, hogy jól nézz ki a képeken, jól kell érezd magad a kamera előtt ülve. Ebben tudok neked segíteni.</p>
    <p> Ha nem mered bevállalni magad saját magadnak a kamera előtt, miként fogod ezt mások előtt megtenni?</p>
</Card>