---
import DefaultPadding from "@/layouts/DefaultPadding.astro"

import { Image } from 'astro:assets';
import CardImage from './images/2.jpg';
---

<!-- Your stakes section should depict what life will look like if your clients don't buy your product, and what negative experiences your product will help them avoid. -->
<DefaultPadding>
	<div class="card-box outline">
		<div class="card-text text-left">
			<h2 class="text-current">Ne tűnj el</h2>
			<p>A te életedben te vagy a főhős</p>
			<p>Mutasd meg ki vagy</p>
			<!-- <p>
				A legtöbb fotós a tökéletes pózokat keresi. De te nem egy póz vagy.
			</p> -->
			<!-- <p class="italic">
				Ha nem mered bevállalni magad saját magadnak a kamera előtt, miként fogod ezt mások előtt
				megtenni?
			</p> -->
			<a href="/contact" class="button darkbutton w-fit">Írd meg, mitől tartasz egy fotózásban</a>
		</div>
		<div class="card-image-div justify-start">
			<Image src={CardImage} alt="Fear image" />
		</div>
	</div>
</DefaultPadding>

<!-- 
			<h2 class="text-current">Az élet több annál, hogy rejtőzködve éljünk</h2>
			<p>Van, hogy könnyebb a háttérben maradni,</p>
			<p>nem kockáztatni, hogy csalódunk magunkban, miként nézünk ki...</p>
			<p class="text-right">...riszkírozni egy újabb szorongós fotózást</p>
			<p>
				A legtöbb fotós a tökéletes pózokat keresi. De te nem egy póz vagy.
			</p> -->