---
import DefaultPadding from "@/layouts/DefaultPadding.astro"

import { Image } from "astro:assets"
import CardImage from "./images/3.jpg"
---

<!-- Your value proposition should communicate the value your products or services can deliver to a customer, often including icons for visual emphasis. -->
 <DefaultPadding>
	<div class="card-box fill">
		<div class="card-image-div justify-end">
			<Image src={CardImage} alt="Fear image" />
		</div>
		<div class="card-text text-right">
			<h2 class="text-current">Ismerd meg egy új oldaladat</h2>
			<h3 class="text-current">Engedd, hogy elég legyél egy inspiráló fotóhoz</h3>

			<div>
			<p class="italic">Sikerült elengednem magam, az eddigi fotózásos élményeimhez képest ez teljesen más volt. Szabadabbnak éreztem, nem volt rajtam a szokásos kényszer, hogy folyton mosolyogjak/vigyorogjak. Komfortosabb lett a kamera előtt állni. </p>
			<p>- Anna</p>
			</div>

			<div>
				<a
					href="/contact"
					class="button hover:bg-colorfor-accent-primary darkbutton w-fit bg-white text-black"
					>Foglalj időpontot</a>
			</div>
		</div>
	</div>
</DefaultPadding>
