<!-- Your value proposition should communicate the value your products or services can deliver to a customer, often including icons for visual emphasis. -->

<h2> Feel Empowered with Every Click </h2>
<h3> Capture portraits that reflect your best self and confidence. </h3>

<p> I do this and this </p>