---
import Card from "@/components/Landing_page/card.astro"
---

<!-- Your value proposition should communicate the value your products or services can deliver to a customer, often including icons for visual emphasis. -->


<Card img_src="/images/landing_page/landingpage-1.jpg" card_order="left" card_style="outline" img_alt="Fear image">
<h2> Feel Empowered with Every Click </h2>
<h3> Capture portraits that reflect your best self and confidence. </h3>

<p> I do this and this </p>

</Card>

