---
import DefaultPadding from "@/layouts/DefaultPadding.astro"

import { Image } from 'astro:assets';
import CardImage from './images/4.jpg';
---


<!-- This section should position you as a trusted Guide by displaying both empathy and competency. Demonstrate your empathy by acknowledging your customer's pain, and establish yourself as an authority through testimonials and service metrics. -->
<DefaultPadding>
	<div class="card-box">
		<div class="card-text text-right">
			<h2>We’re Here to Help You Shine</h2>
			<h3>With 8 five-star reviews, we know what it takes to bring out your confidence.</h3>

			<h4>8 Five-Star Reviews on Google</h4>
			<p>Our clients trust us to help them feel beautiful in their skin.</p>

			<h4>Countless Happy Clients Reclaiming Their Images</h4>
			<p>Our focus is on your comfort and genuine expression.</p>

			Testimonial

			<div>
			<a href="/contact" class="button darkbutton w-fit">Book Your Session</a>
			</div>
			
		</div>
		<div class="card-image-div justify-end">
			<Image src={CardImage} alt="Fear image"/>
		</div>
	</div>
</DefaultPadding>