---
import DefaultPadding from "@/layouts/DefaultPadding.astro"

import { Image } from 'astro:assets';
import CardImage from './images/4.jpg';
import GoogleRevImage from './images/google_reviews.png'
---


<!-- This section should position you as a trusted Guide by displaying both empathy and competency. Demonstrate your empathy by acknowledging your customer's pain, and establish yourself as an authority through testimonials and service metrics. -->
<DefaultPadding>
	<div class="card-box">
		<div class="card-text text-right">
			<h2>Itt lehetsz stresszes. Lehetsz feszült.</h2>
			<!-- <h3>With 8 five-star reviews, we know what it takes to bring out your confidence.</h3> -->

			<p>Nem kell a kamerába bámulnod, és nem kell "ellazulnod". Ezek majd jönnek, ha úgy érzed.</p>

			<h2>Lehetsz nyugodt, lehetsz pörgős.</h2>

			<!-- <h4>Countless Happy Clients Reclaiming Their Images</h4> -->
			<p>Több mint 20 klienssel dolgoztam eddig együtt, és még senki nem távozott rossz tapasztalattal. A célom, hogy egy biztonságos légkörben kísérletezhess, és a végén úgy nézz rá a fotókra: "Ez tényleg én vagyok, és ez jó."</p>

			<a target="_blank" href="https://share.google/hlqezB26xwqjNntNw"><h4>Csupa jó értékelés Google-ön ↗</h4></a>
			
			<div>
			<a href="/contact" class="button darkbutton w-fit">Foglalj Időpontot</a>
			</div>
			
		</div>
		<div class="card-image-div justify-end">
			<Image src={CardImage} alt="Fear image"/>
		</div>
	</div>
</DefaultPadding>