---
import { Image } from "astro:assets"
import CardImage from "./images/5.jpg"

import DefaultPadding from "@/layouts/DefaultPadding.astro"
---

<!-- Your plan should show customers that working with you or buying your product is easy and effortless, and best relayed in three simple steps. 3 Facv Ston -->
<DefaultPadding>
	<div class="card-box outline">
		<div class="card-image-div justify-end">
			<Image src={CardImage} alt="Fear image" />
		</div>
		<div class="card-text text-right">
			<h2>Szeretnél együtt fotózni?</h2>
			<h3>Három könnyed lépés</h3>

			<ol>
				<li>
					<h4>1. Írj - Tisztázzuk a célt</h4>
					<p>Milyen fotóra vágysz</p>
				</li>
				<li>
					<h4>2. Beszélünk időpontot</h4>
					<p>Egyeztetjük a helyet, időt</p>
				</li>
				<li>
					<h4>3. Elkészülnek a képek</h4>
					<p>Egy új szemszögből ismerheted meg magad a kamera segítségével</p>
				</li>
			</ol>

			<div class="text-right">
				<a href="/contact" class="button darkbutton w-fit">Írj rám</a>
			</div>
		</div>
	</div>
</DefaultPadding>
