---
import DefaultPadding from "@/layouts/DefaultPadding.astro"
---

<!-- Your long-form paragraph gives customers more details, helps them feel like they've done their due diligence, and also helps with SEO. -->
<DefaultPadding>
	<div class="card-box">
		<div class="card-text basis-full text-center">
			<h2>Számít miként vagy jelen</h2>

			<h5>Számít hogy érzed magad</h5>

			<p>A kamera a barátod. Segít megismerni magadat, szembenézni, hogy vagy, hogy érzed magad. Egy
				tükör. Ahhoz, hogy jól nézz ki a képeken, jól kell érezd magad a kamera előtt ülve. Ebben
				tudok neked segíteni.</p>
			<p>Sokan a tökéletes pózt keresik, de te nem egy póz vagy.</p>

			<div><a href="/contact" class="button darkbutton w-fit">Foglalj időpontot</a></div>
			
		</div>
	</div>
</DefaultPadding>