---
import Button from "@/components/application_UI/buttons/button.astro"
---

<div>
					<h2 class="text-colorfor-accent-secondary text-4xl font-semibold uppercase">1507.</h2>
					<hr class="mt-3 h-px w-10" />
					<h1 class="text-colorfor-text-heading mt-4 mb-2 text-5xl font-bold">
						Árpád-házi Szent Margit Cserkészcsapat
					</h1>
					<p class="text-colorfor-text-heading-2 text-xl font-semibold">
						Magyarország legnagyobb vidéki csapata Szeged város szívében.
					</p>
					<div class="mt-4 py-3">
						<Button to="#" button_style="darkbutton">Hírek</Button>
						<Button to="#" button_style="accentbutton">Kapcsolat</Button>
					</div>
				</div>
				<div class="mt-6 lg:mt-10">
					<img
						src="csapat_foto_edited.JPG"
						alt="Csapatunk csoportképe"
						class="w-screen rounded-xl lg:rounded-3xl"
					/>
				</div>
			</div>