---
import { Image } from 'astro:assets';
import ReviewImage from './images/reviews/review.jpg';
---

<div class="aspect-video overflow-hidden relative">
    <div class="max-w-1/4">
        <div class="absolute left-2 top-1/2 -translate-top-1/2 text-white sm:text-xl md:text-2xl lg:text-3xl z-30 pr-6">
            <div class="text-shadow-lg">Nagyon élveztem, egyfajta új önkifejezési módra leltem rá</div>
            <div class="text-shadow-lg text-right">- Lilla</div>
            <div class="text-shadow-lg text-center text-xs">★★★★★</div>
        </div>
        <Image class="absolute" src={ReviewImage} alt="Great photos that got amazing reviews" />
    </div>
</div>