---
import Button from "@/components/application_UI/buttons/button.astro"
---


<div class="w-auto flex-col py-10 lg:flex lg:flex-row lg:py-20">
				<div
					class="lg:shadow-colorfor-accent-primary hidden h-[500px] w-auto bg-[url('/ors.jpg')] bg-contain bg-center bg-no-repeat sm:rounded-xl lg:block lg:w-1/2 lg:rounded-r-3xl lg:bg-cover lg:shadow-md"
				>
				</div>
				<div>
					<img src="/ors.jpg" alt="Kép a legjobb Őrsről" class="block h-auto w-auto lg:hidden" />
				</div>
				<div class="w-auto p-10 lg:w-1/2 lg:p-20">
					<h2 class="text-colorfor-text-heading-accent text-4xl font-semibold">Csapatunkról</h2>
					<h3 class="mt-10 mb-3 text-2xl">Csapatunk története</h3>
					<p class="text-lg">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo laboriosam
						aspernatur, incidunt unde ut est, aliquid recusandae nam dolor nostrum laborum tempora
						facilis ea doloribus numquam autem consequuntur, culpa modi!
					</p>
					<h3 class="mt-10 mb-3 text-2xl">Kapcsolat</h3>
					<p class="text-lg">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, vero ullam ab eveniet
						fuga explicabo?
					</p>
					<div class="mt-10">
						<Button to="#" button_style="darkbutton">Kapcsolat</Button>
						<Button to="#" button_style="accentbutton">Rólunk</Button>
					</div>
				</div>
			</div>