---
import Button from "@/components/application_UI/buttons/button.astro"
---

<div class="lg:align-center my-0 flex flex-col px-10 lg:my-20 lg:flex lg:flex-row lg:px-20">
				<div class="w-full p-4 lg:w-1/2 lg:p-10">
					<h2 class="text-colorfor-text-heading-accent mb-4 text-4xl font-semibold">
						Támogass minket!
					</h2>
					<p class="my-4 mb-2 text-lg">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iste corrupti, labore
						repellat explicabo quod in voluptate ipsam rerum veniam inventore. Repellendus aliquid
						est officia?
					</p>
					<div class="py-3">
						<Button to="#" button_style="darkbutton">Bővebben</Button>
					</div>
				</div>
				<div class="flex w-auto place-self-center">
					<img
						src="/1szaz.jpg"
						alt=""
						class="ml-5 h-24 w-auto rounded-xl shadow-xl lg:h-52 lg:rounded-3xl"
					/>
					<img
						src="/50.jpg"
						alt=""
						class="ml-5 h-24 w-auto rounded-xl shadow-xl lg:h-52 lg:rounded-3xl"
					/>
				</div>
			</div>