@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "@/styles/tailwind_theme.css";
@import "tailwindcss";
@import "@/styles/markdown_typography_plugin_colors.css";
@plugin "@tailwindcss/typography";