/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #e1642c #dadada;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ebebeb;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff6428;
    border-radius: 10px;
    border: 3px none #ffffff;
  }
