---
import BaseLayout from "@/layouts/BaseLayout.astro"
import DefaultPadding from "@/layouts/DefaultPadding.astro"
import ContactForm from "@/components/Utilities/contact_form.astro"
import SocialsList from "@/components/Utilities/socials_list.astro"
---

<BaseLayout>
    <DefaultPadding>
        <ContactForm />
        <SocialsList />
        <div class="pb-40"></div>
    </DefaultPadding>
</BaseLayout>