---
import BaseLayout from "@/layouts/BaseLayout.astro"
import DefaultPadding from "@/layouts/DefaultPadding.astro"
import ContactForm from "@/components/Utilities/contact_form.astro"
import SocialsList from "@/components/Utilities/socials_list.astro"
---

<BaseLayout>
    <DefaultPadding>
        <div class="text-center pt-20 pb-10">
            <h2 class="p-2">Írj Instagrammon</h2>
        </div>
        <SocialsList />
        <div class="pb-20"></div>
        <div class="text-center">
            <h2>Vagy küldj emailt</h2>
        </div>
        <ContactForm />
        
    </DefaultPadding>
</BaseLayout>