---
import BaseLayout from '@/layouts/BaseLayout.astro'
import base_text from '@/data/base_text'
---

<BaseLayout>
	<section class="flex min-h-[80vh] flex-col items-center justify-center px-4 text-center">
		<h1 class="mb-4 text-6xl font-bold">{base_text.NotFoundPage.alert}</h1>
		<p class="mb-8 text-xl">{base_text.NotFoundPage.message}</p>
		<a href={base_text.NotFoundPage.link} class="hover:underline">{base_text.NotFoundPage.action}</a>
	</section>
</BaseLayout>
