---
import Layout from "@/layouts/Layout.astro"

import Hero from "@/components/Landing_page/Hero.astro"
import News from "@/components/Landing_page/News.astro"
import Rolunk from "@/components/Landing_page/Rolunk.astro"
import Tamogass from "@/components/Landing_page/tamogass.astro"
---

<Layout>
	<main class="py-4 lg:py-10">
		<!-- Az oldal alap paddingja -->
		<div class="px-10 lg:px-20">
			<!-- Hero -->
			<Hero />

			<!-- Hírek/Esenények -->
			<News />

			<!-- Rólunk + Kapcsolat -->
			<Rolunk />

			<!-- Támogatás (Alap padding újra)-->
			<Tamogass />

		</div>
	</main>
</Layout>
