---
import BaseLayout from "@/layouts/BaseLayout.astro"
import DefaultPadding from "@/layouts/DefaultPadding.astro"

import Hero from "@/components/Landing_page/1_Hero.astro"
import Stakes from "@/components/Landing_page/2_Stakes.astro"
import ValueProposition from "@/components/Landing_page/3_value_proposition.astro"
import EmpathyAndCompetency from "@/components/Landing_page/4_Empathy_and_Competency.astro"
import Plan from "@/components/Landing_page/5_Plan.astro"
import Explanatory_paragraph from "@/components/Landing_page/6_Explanatory_paragraph.astro"

import News from "@/components/Landing_page/News.astro"
import Rolunk from "@/components/Landing_page/Rolunk.astro"
import Tamogass from "@/components/Landing_page/Tamogass.astro"
---

<BaseLayout>
	<DefaultPadding>
		<main class="py-4 lg:py-10">
			<!-- Hero -->
			<Hero />

			<Stakes />

			<ValueProposition />

			<EmpathyAndCompetency />

			<Plan />

			<Explanatory_paragraph />

		</main>
	</DefaultPadding>
</BaseLayout>
