---
import BaseLayout from "@/layouts/BaseLayout.astro"
import DefaultPadding from "@/layouts/DefaultPadding.astro"

import Hero from "@/components/Landing_page/Hero.astro"
import News from "@/components/Landing_page/News.astro"
import Rolunk from "@/components/Landing_page/Rolunk.astro"
import Tamogass from "@/components/Landing_page/Tamogass.astro"
---

<BaseLayout>
	<DefaultPadding>
		<main class="py-4 lg:py-10">
			<!-- Hero -->
			<Hero />

			<!-- Hírek/Esenények -->
			<News />

			<!-- Rólunk + Kapcsolat -->
			<Rolunk />

			<!-- Támogatás (Alap padding újra)-->
			<Tamogass />
		</main>
	</DefaultPadding>
</BaseLayout>
