---
import Socials_list from "./Utilities/socials_list.astro"
import presentation from "@/data/presentation"
import base_text from "@/data/base_text"
import Logo from "@/components/Utilities/logo.svg"
---

<footer class="bg-colorfor-bg-footer">
	<div class="mx-auto max-w-7xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
		<div class="sm:flex sm:items-center sm:justify-between">
			<div class="text-colorfor-text-footer">
				<div class="h-32 w-32">
					<a href="/"><Logo class="h-full w-full" /></a>
				</div>
			</div>

			<div class="text-colorfor-text-footer">
				<Socials_list />
			</div>
		</div>

		<div
			class="grid grid-cols-1 gap-8 border-t border-gray-100 pt-8 sm:grid-cols-2 lg:grid-cols-4 lg:pt-16"
		>
			<div class="hidden">
				<p class="text-colorfor-text-footer font-medium italic">Services</p>

				<ul class="mt-6 space-y-4 text-sm">
					<li>
						<a href="#" class="text-colorfor-text-footer transition hover:opacity-75">
							1on1 Coaching
						</a>
					</li>

					<li>
						<a href="#" class="text-colorfor-text-footer transition hover:opacity-75">
							Company Review
						</a>
					</li>

					<li>
						<a href="#" class="text-colorfor-text-footer transition hover:opacity-75">
							Accounts Review
						</a>
					</li>

					<li>
						<a href="#" class="text-colorfor-text-footer transition hover:opacity-75">
							HR Consulting
						</a>
					</li>

					<li>
						<a href="#" class="text-colorfor-text-footer transition hover:opacity-75">
							SEO Optimisation
						</a>
					</li>
				</ul>
			</div>

			<div class="hidden">
				<p class="text-colorfor-text-footer font-medium italic">Company</p>

				<ul class="mt-6 space-y-4 text-sm">
					<li>
						<a href="#" class="text-colorfor-text-footer transition hover:opacity-75"> About </a>
					</li>

					<li>
						<a href="#" class="text-colorfor-text-footer transition hover:opacity-75">
							Meet the Team
						</a>
					</li>

					<li>
						<a href="#" class="text-colorfor-text-footer transition hover:opacity-75">
							Accounts Review
						</a>
					</li>
				</ul>
			</div>

			<div>
				<p class="text-colorfor-text-footer font-medium italic">Hasznos Linkek</p>

				<ul class="mt-6 space-y-4 text-sm">
					<li>
						<a href="/contact" class="text-colorfor-text-footer transition hover:opacity-75">
							Kontakt
						</a>
					</li>

					<li>
						<a href="/portfolio" class="text-colorfor-text-footer transition hover:opacity-75">
							Portfólió
						</a>
					</li>

					<li>
						<a href="/footer/GYIK" class="text-colorfor-text-footer transition hover:opacity-75">
							GYIK
						</a>
					</li>
				</ul>
			</div>

			<div>
				<p class="text-colorfor-text-footer font-medium italic">Legalitás</p>

				<ul class="mt-6 space-y-4 text-sm">
					<li>
						<a
							href="footer/adatkezeles_tajekoztato"
							class="text-colorfor-text-footer transition hover:opacity-75"
						>
							Adatkezelési Tájékoztató / GDPR
						</a>
					</li>

					<li>
						<a href="/footer/ASZF" class="text-colorfor-text-footer transition hover:opacity-75">
							ÁSZF
						</a>
					</li>

					<li>
						<a
							href="/footer/impresszum"
							class="text-colorfor-text-footer transition hover:opacity-75"
						>
							Impresszum
						</a>
					</li>
				</ul>
			</div>
		</div>

		<p class="text-colorfor-text-footer/50 text-xs">
			© {new Date().getFullYear()}. {presentation.company_name}. {
				base_text.allRightsReserved.text
			}.
		</p>
	</div>
</footer>
