---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
---

<nav role="navigation" aria-label="Global" class="flex items-center justify-between p-10 lg:px-16">
    <div role="list" class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5 flex">
            <img src="/logo.png" alt="Csapatlogo" class="h-8 w-auto rounded-sm" />
            <span class="pl-4 text-lg font-semibold justify-middle underline">1507.hu</span>
        </a>
    </div>
    <div class="flex lg:hidden">
        <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200">
        <span class="sr-only">Menü megnyitása</span>
        <!-- <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>-->
        <img src="logo.png" alt="" class="h-8 w-auto">
        </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
        <a href="/" class="text-lg font-semibold text-black">Kezdőlap</a>
        <a href="/posts" class="text-lg font-semibold text-black">Hírek</a>
        <a href="/rolunk" class="text-lg font-semibold text-black">Rólunk</a>
        <a href="#" class="text-lg font-semibold text-black">Támogass</a>
    </div>
</nav>

<!-- The phone floating menu for navigation - we're using tailwing plus elements for it https://tailwindcss.com/plus/ui-blocks/documentation/dialog -->
<el-dialog>
    <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
        <div tabindex="0" class="fixed inset-0 focus:outline-none">
            <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-100/10">
                <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">ÁSZMCS</span>
                        <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="" class="h-8 w-auto" />
                    </a>
                    <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-200">
                        <span class="sr-only">Menü bezárása</span>
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                        <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-white/10">
                        <div class="space-y-2 py-6">
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5">Kezdőlap</a>
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5">Hírek</a>
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5">Rólunk</a>
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5">Támogass!</a>
                        </div>
                    </div>
                </div>
            </el-dialog-panel>
        </div>
    </dialog>
</el-dialog>