---
interface Props {
	type?: string
	button_style?: "defaultbutton" | "darkbutton" | "accentbutton"
}

const { type="submit", button_style = "defaultbutton" } = Astro.props
---

<button
	type="submit"
	id="general_button"
	class={`${button_style} me-2 mb-2 rounded-(--roundedness-button) px-7 py-3.5 text-sm font-medium transition-colors duration-300`}
>
	<slot />
</button>

<style>
	@reference "@/styles/tailwind_theme.css";

	.defaultbutton {
		@apply text-colorfor-text-button bg-colorfor-bg-button hover:bg-colorfor-bg-button-hover;
	}

	.darkbutton {
		@apply text-colorfor-text-button bg-colorfor-bg-button-dark hover:bg-colorfor-bg-button-dark/90;
	}

  .accentbutton {
    @apply text-colorfor-accent-secondary bg-colorfor-bg-page border border-colorfor-accent-secondary hover:border-colorfor-accent-secondary/50;
  }

</style>
