---
import Header from "../components/Header.astro"
import SEOTags from "@/components/seo/SEOTags.astro"
import Footer from "../components/Footer.astro"

import "@/styles/global.css"
import "@/styles/scrollbar.css"

export interface Props {
	title?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="font-paragraph">
	<SEOTags title={title} />


	<body class="bg-colorfor-bg-page">
		<Header />

		<!-- Default page values -->
		<div class="text-colorfor-text-body">
			<slot />
		</div>

		<Footer />

	</body>
</html>

